section#products{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 60vh;
    justify-items: center;
    align-items: baseline;
    row-gap: 80px;
    margin-bottom: 50px;
}

section h2#h2-loading{
    position: absolute;
    margin: 0 auto;
    font-size: 30px;
    color: white;
    text-align: center;
}

div.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 20vw;
    padding: 20px;
    border-radius: 10px;

    transition: all 1s;
}

div.product-container:hover{
    transition: all 0.5s;
    box-shadow: 0 0 50px 0 #ea095f;
    background-color: black;
    color: white;
    border: 1px solid #ea095f;
}

div.product-container:hover button.btn-product{
    display: block;
}

img.product-img{
    width: 200px;
    height: 250px;
}

p.product-name{
    font-size: 25px;
}

p.product-price{
    font-size: 30px;
}

p.product-plataform{
    font-size: 17px;
}

button.btn-product{
    display: none;
    background-color: aqua;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
}

p.product-price span{
    color: #ea095f;
    text-shadow: 0px 0px 5px #ea095f;
}