section#products{
    margin-top: 50px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    justify-items: center;
    align-items: baseline;
    row-gap: 60px;
    margin-bottom: 100px;
}

div.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 20vw;
    padding: 20px;
    border-radius: 10px;
}

div.product-container:hover{
    transition: all 0.5s;
    box-shadow: 0 0 50px 0 #ea095f;
    background-color: black;
    color: white;
    border: 1px solid #ea095f;

    transition: all 0.2s ease-in;
}

div.product-container:hover button.btn-product{
    display: block;
}

img.product-img{
    width: 200px;
    height: 250px;
    border-radius: 5px;
}

p.product-name{
    font-size: 25px;
}

p.product-price{
    font-size: 30px;
}

p.product-plataform{
    font-size: 17px;
}

button.btn-product{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;

    display: none;
    background-color: #ea095f;
    font-size: 25px;
    width: 75%;
    height: 20%;

    border: 3px solid aqua;
    border-radius: 5px;
    outline: none;
}

button.btn-product:hover{
    cursor: pointer;
    color: white;
    width: 100%;
    border-right: none;
    border-left: none;
    border-radius: 0px;
}

p.product-price span{
    color: #ea095f;
    text-shadow: 0px 0px 5px #ea095f;
}