#count-container{
    background-color: #FF8B00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
}

#counter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: white;
    width: 200px;
    border-radius: 20px;
}

#counter p{
    font-size: 20px;
    color: black;
}


button:hover{
    transition: all 0.3s;
    cursor: pointer;
    scale: 1.1;
}

button.btn{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    font-size: 30px;
    color: #ea095f;
}

#btnAdd{
    display: block;
    background-color: aqua;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
}