html{
    overflow-x: hidden;
}

body{
    background-color: black;
    font-family: sans-serif;
}

body::-webkit-scrollbar {
    width: 11px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: aqua;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid black;  /* creates padding around scroll thumb */
}

main{
    margin-top: 50px;
}
