@media (max-width:1600px) {
    
    /*ItemListContainer*/
    main section#products{
      grid-template-columns: 1fr 1fr 1fr;
    }

    div.product-container img.product-img{
      width: 150px;
      height: 200px;
    }


    /*ItemDetail*/
    div#root div#item-detail-container{
      grid-template-columns: 75vh 75vh;
    }

    div#item-detail-container img#item-img{
      width: 400px;
      height: 500px;
    }

        
    div#item-detail-container div#item-details{
      gap: 20px;
    }

    div#item-detail-container h1#h1-title{
      font-size: 40px;
    }

    div#item-detail-container p#p-stock{
      font-size: 25px;
    }

    div#item-detail-container p#p-description{
      font-size: 15px;
    }

    div#item-detail-container p#p-plataform{
      font-size: 20px;
    }

    div#item-detail-container p#p-price{
      font-size: 25px;
    }

}





@media (max-width:1366px){
  /*Header*/
  header img#imagen-header{
    width: 300px;
  }


  /*ItemListContainer*/
  main section div.product-container p.product-name{
    font-size: 20px;
  }
  main section div.product-container p.product-price{
    font-size: 25px;
  }
  main section div.product-container p.product-plataform{
    font-size: 13px;
  }
}





@media (max-width:1024px){
  /*Header*/
    header img#imagen-header{
      width: 250px;
    }
  

  /*NavBar*/
    div.hamburger{
      visibility: visible;
    }
  
    div.hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    div.hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    div.hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
    nav ul{
      position: fixed;
      flex-direction: column;
      left: -130%;
      top: 80px;
      gap: 0;
      width: 100%;
      background-color: #ea095f;
      align-items: baseline;
      transition: all 0.3s;
    }
  
    nav ul.active{
      left: 0;
      z-index: 9999;
    }
  
    nav ul li.nav-item{
      margin: 16px -20px;
      display: block;
    }

    nav span.carrito{
      margin-right: -30px;
    }


    /*ItemListContainer*/
    main section#products{
      grid-template-columns: 1fr 1fr;
    }

    main section div.product-container{
      width: 40vw;
    }

    div.product-container img.product-img{
      width: 150px;
      height: 200px;
    }


  /*ItemDetailContainer*/
  div#root div#item-detail-container{
    grid-template-columns: 0.8fr;
    text-align: center;
  }
  div#item-detail-container div#item-details{
    align-items: center;
  }


  /*Cart*/
  ul li div.item-cart-details{
    flex-direction: column;
    width: 65vw;
  }

  div.item-cart-details div.item-detail-box{
    flex-direction: row;
  }

  section div#checkout-container{
    width: 50vw;
  }
}





@media (max-width:768px){
  /*NavBar*/
  nav{
    font-size: 15px;
  }
  nav ul li.nav-item{
    margin: 10px -20px;
    display: block;
  }

  
  /*Header*/
    header{
      height: 400px;
    }
    div#mascara{
      height: 400px;
      justify-content: flex-start;
    }

  
  /*ItemListContainer*/
    main section#products{
      grid-template-columns: 1fr 1fr;
    }
    main section div.product-container{
      width: 35vw;
    }
}





@media (max-width:600px){
  /*NavBar*/
    div#root nav{
      grid-template-columns: 1fr 5fr 1fr 0.5fr;
    }

  
  /*Header*/
  header{
    height: 300px;
  }
  div#mascara{
    height: 300px;
    justify-content: flex-start;
  }
  header img#imagen-header{
    width: 190px;
  }
  header span#logo{
    font-size: 25px;
  }


  /*ItemListContainer*/
  main section#products{
    grid-template-columns: 1fr;
  }
  main section div.product-container{
    width: 75vw;
  }


  /*ItemDetail*/
    div#item-detail-container img#item-img{
      width: 300px;
      height: 400px;
    }
    div#item-detail-container div#buy-box{
      flex-direction: column;
    }
  
  
  /*Cart*/
  section ul.cart-list li{
    font-size: 20px;
  }

  ul li div.item-cart-details button{
    font-size: 20px;
  }
}