@font-face {
  font-family: blacklisted;
  src: url(../fonts/Blacklisted.ttf);
}

nav{
  position: sticky;
  top: -5px;
  z-index: 9999;

  font-size: 20px;
  background-color: #ea095f;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 0.5fr;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.link{
  text-decoration: none;
  color: black;
}

.logo-p{
  margin-left: 10px;
  font-size: 25px;
  font-family: blacklisted;
  color:#FF8B00;
  text-shadow: 1px 1px 10px black;
}

ul{
  display: flex;
  align-items: center;
  gap: 80px;
}

li.nav-item{
  list-style: none;
  padding: 10px;
  display: inline;
}

li.nav-item:hover{
  transition: all 0.3s;
  background-color: black;
  border-radius: 5px;
  color: white;
  scale: 1.1;
  cursor: pointer;
}

/*.login-p{
  background: black;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.login-p:hover{
  transition: all 0.3s;
  cursor: pointer;
  background-color: white;
  color: black;
  scale: 1.1;
}*/

.hamburger{
  visibility: hidden;
  cursor: pointer;
}

span.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

span.carrito{
  display: flex;
  justify-items: center;
  text-align: center;
}

span.carrito img{
  width: 40px;
  height: 50px;
}

span.carrito p{
  position: absolute;
  font-size: 15px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

span.carrito:hover{
  transition: scale 0.3s;
  cursor: pointer;
  scale: 1.3;
}

