nav{
  font-size: 20px;
  background-color: rgb(255, 140, 0);
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  text-align: center;
  justify-items: center;
  align-items: center;
}

ul{
  display: flex;
  gap: 80px;
}

li{
  list-style: none;
  padding: 10px;
}

li:hover{
  transition: all 0.3s;
  background-color: black;
  border-radius: 5px;
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}

.login-p{
  background: black;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.login-p:hover{
  transition: all 0.3s;
  cursor: pointer;
  background-color: white;
  color: black;
  transform: scale(1.1);
}
